/*****************************************
* HTML ELEMENTS RESET
*****************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  body {
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  body {
    width: 95%;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*****************************************
* UTILITY CLASSES
*****************************************/
.red {
  outline: red 1px solid;
}

.blue {
  outline: blue 1px solid;
}

/*****************************************
* TYPOGRAPHY RULES
*****************************************/
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/lato-v23-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v23-latin-900.woff2") format("woff2"), url("../fonts/lato-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*****************************************
* ANIMATIONS
*****************************************/
/*****************************************
* GLOBAL MEDIA QUERIES
*****************************************/
@media only screen and (max-width: 1365px) {
  html {
    font-size: calc(62.5% - 0.2vw);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important; /* 1 */
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important; /* 1 */
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important; /* 1 */
    background-attachment: initial !important; /* 2 */
    scroll-behavior: auto !important; /* 3 */
    transition-delay: 0s !important; /* 4 */
    transition-duration: 0s !important; /* 4 */
  }
}
/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.header-logo {
  width: 26.8rem;
  height: 9.3rem;
  -o-object-fit: contain;
     object-fit: contain;
}

fieldset,
input,
ul,
li,
span {
  all: unset;
}

.main {
  position: relative;
  padding: 2em 0;
}

.form {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  background: #e7e7e7;
}
.form-search-input {
  width: 100%;
  height: 6.9rem;
  padding-left: 1em;
  border-radius: 0.5rem;
  font-family: "Lato";
  font-size: 2rem;
  background: #e7e7e7;
}
.form-search-icon {
  height: 100%;
  background: #e7e7e7;
  font-size: 3rem;
  margin-right: 0.5em;
}
.form-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
  margin: 2em 0;
}
.form-filter-container {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.5rem;
  width: 17rem;
  padding: 1.5em 1em;
  transition: 0.2s;
}
.form-filter-dropdown {
  width: 60rem;
  transition: 0.2s;
}
.form-filter-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
}
.form-filter-blue {
  background-color: #3282f7;
}
.form-filter-green {
  background-color: #68d9a4;
}
.form-filter-orange {
  background-color: #ed6454;
}
.form-filter-input {
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.8rem;
  width: 80%;
  max-width: 80%;
}
.form-filter-input::-moz-placeholder {
  color: #ffffff;
}
.form-filter-input:-ms-input-placeholder {
  color: #ffffff;
}
.form-filter-input::placeholder {
  color: #ffffff;
}
.form-filter-chevron {
  color: #ffffff;
  font-size: 1.8rem;
}
.form-filter-list {
  display: none;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  margin-top: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-filter-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15rem;
  font-family: "Lato";
  font-size: 1.8rem;
  color: #ffffff;
  border: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: 0.2s;
}
.form-filter-list-item:hover {
  color: black;
}
.form-filter-tag {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}
.form-filter-tag-button {
  display: flex;
  flex-flow: row nowrap;
  width: 10.7rem;
  height: 3.7rem;
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 0.5rem;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 38rem);
  justify-content: space-between;
  gap: 3em;
  margin-top: 13em;
}
.recipes-card {
  display: flex;
  flex-direction: column;
  width: 38rem;
  height: 36rem;
  border-radius: 0.5rem;
  color: #000000;
  font-family: "Lato";
}
.recipes-card-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48%;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #c7bebe;
}
.recipes-card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 52%;
  padding: 1em;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #e7e7e7;
}
.recipes-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.recipes-card-title {
  max-width: 70%;
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipes-card-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  font-size: 1.8rem;
  font-weight: 700;
}
.recipes-card-desc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipes-card-ingredients, .recipes-card-todo {
  width: 50%;
  height: 100%;
  font-size: 1.2rem;
}
.recipes-card-ingredients {
  font-family: "Lato";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipes-card-ingredients-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipes-card-ingredients-name {
  font-weight: 700;
}
.recipes-card-todo {
  font-family: "Roboto";
  text-align: justify;
  padding-left: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}/*# sourceMappingURL=style.css.map */