/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    &-logo {
        width: 26.8rem;
        height: 9.3rem;
        object-fit: contain;
    }
}

input {
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-search {
        width: 100%;
        height: 6.9rem;
        border-radius: 0.5rem;
        padding: 1em;
        font-family: "Lato";
        font-size: 1.8rem;
        background: $color-search-input;
    }
}
