/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    &-logo {
        width: 26.8rem;
        height: 9.3rem;
        object-fit: contain;
    }
}

fieldset,
input,
ul,
li,
span {
    all: unset;
}

.main {
    padding: 2em 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: $border-radius;
        background: $color-search-input;

        &-input {
            width: 100%;
            height: 6.9rem;
            padding-left: 1em;
            border-radius: $border-radius;
            font-family: "Lato";
            font-size: 2rem;
            background: $color-search-input;
        }

        &-icon {
            height: 100%;
            background: $color-search-input;
            font-size: 3rem;
            margin-right: 0.5em;
        }
    }

    &-filter {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        width: 100%;
        margin: 2em 0;

        &-button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 17rem;
            height: 7rem;
            border-radius: $border-radius;
            padding: 1em;
            cursor: pointer;

            &-blue {
                background-color: #3282f7;
            }

            &-green {
                background-color: #68d9a4;
            }

            &-orange {
                background-color: #ed6454;
            }
        }

        &-name {
            color: #ffffff;
            font-family: "Lato";
            font-weight: 700;
            font-size: 1.8rem;
            max-width: 80%;

            &::placeholder {
                color: #ffffff;
            }
        }

        &-chevron {
            color: #ffffff;
            font-size: 1.8rem;
        }
    }
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 38rem);
    justify-content: space-between;
    gap: 3em;

    &-card {
        display: flex;
        flex-direction: column;
        width: 38rem;
        height: 36rem;
        border-radius: $border-radius;
        color: #000000;
        font-family: "Lato";

        &-img {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 48%;
            border-radius: 0.5rem 0.5rem 0 0;
            background-color: $color-recipe-card-img;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 52%;
            padding: 1em;
            border-radius: 0 0 0.5rem 0.5rem;
            background-color: $color-recipe-card-info;
        }

        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &-title {
            max-width: 70%;
            font-size: 1.8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-duration {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            column-gap: 0.5em;
            font-size: 1.8rem;
            font-weight: 700;
        }

        &-desc {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            margin-top: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-ingredients,
        &-todo {
            width: 50%;
            height: 100%;
            font-size: 1.2rem;
        }

        &-ingredients {
            font-family: "Lato";
            overflow: hidden;
            text-overflow: ellipsis;

            &-item {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                column-gap: 0.5em;
            }

            &-name {
                font-weight: 700;
            }
        }

        &-todo {
            font-family: "Roboto";
            text-align: justify;
            padding-left: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
